<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Tab Icon -->
    <link rel="shortcut icon" href="img/Arvest White Logo (PNG).png" type="image/x-icon"/>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/> 
    <!--link rel="stylesheet" type="text/css" href="css/bootstrap.css"/-->
    
    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="css/customStyleSheet.css"/>

<title>SPARC</title>
</head>
<body class="bg-arvestAltTan">
	<header>
		  <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md fixed-top bg-arvestAltBlue navbar-border py-0">
            <img src="img/Arvest White Logo (PNG).png" class="navbar-brand img-fluid" href="https://www.arvest.com" alt="Arvest.com" width="115" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

	<div class="collapse navbar-collapse" id="navbarSupportContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      	<a class="nav-link" href=" ">Home</a>
      </li>
      <li class="nav-item active">
      	<a class="nav-link" href="projects">Projects</a>
      </li>
	  <li class="nav-item">
	  	<a class="nav-link" href="time">Time</a>
	  </li>
	  <li class="nav-item">
	  	<a class="nav-link" href="reports">Reports</a>
	  </li>
	  <li class="nav-item">
	  	<a class="nav-link" href="admin">Admin</a>
	  </li>
    </ul>
  </div>
</nav>
        <nav class="navbar bg-arvestBlue fixed-top-2 pl-0">
            <div class="container justify-content-center">
            	
                <button id="submitForm" class="btn btn-arvestBlue py-1 mx-1">
                <a href="projects/add">
                Create New</button>
                </a>
                <button id="clearForm" class="btn btn-arvestBlue py-1 mx-1">
                <a href="projects/edit">
                Edit Project</button>
			</div>
        </nav>
</header>


	<h1> Project List!</h1>
	<div>
		<nobr>
			<a th:href="@{/projects/add}">Add Project</a>
			<a th:href="@{/}">Back to Index</a>
	
		</nobr>
	</div>
	<br/><br/>
	<div>
		<table border="1">
			<tr>
				<th>Project ID</th>
				<th>Estimated Budget</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Project Name</th>
				<th>Details ID</th>
				<th>Project Lead ID</th>

			</tr>
			<tr th:each="project : ${jodi}">
			<td th:utext="${project.pid}"></td>
			<td th:utext="${project.pestimatebudget}"></td>
			<td th:utext="${project.pstartdate}"></td>
			<td th:utext="${project.penddate}"></td>
			<td th:utext="${project.pname}"></td>
			<td th:utext="${project.projectdetailsid}"></td>
			<td th:utext="${project.projectleadid}"></td>

			</tr>
		</table>
	
	
	
	</div>
</body>
</html>